@use 'variables' as v;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-padding-top: 0rem;
}

*, 
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: v.$fuente_principal;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1rem;
    color: v.$gris_muy_oscuro;

    &.overflow-hidden {
        overflow: hidden;
    }
}

p {
    font-size: 1.5rem;
    line-height: 1;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    margin: 0 0 1rem 0;
    font-weight: 900;
}

h1 {
    font-size: 3.6rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}