@use 'base/variables' as v;
@use 'base/mixins' as m;

.login-form {
    margin-bottom: 2rem;
    
    label {
        font-size: 1.5rem;
        display: block;
        font-weight: 500;
        color: v.$gris_muy_oscuro;
    }

    .form-group {
        margin-bottom: 1rem;
    }

    .email-header,
    .password-header {
        margin-bottom: 1.5rem;
    }

    .password-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            color: v.$gris_oscuro;
            font-size: 1.5rem;
        }
    }

    input {
        width: 100%;
        padding: 1rem;
        border: 1px solid v.$gris_borde;
        border-radius: 1rem;
        font-size: 1.5rem;
        transition: border-color 0.2s, box-shadow 0.2s;

        &:focus {
            outline: none;
            border-color: v.$teal_500;
            box-shadow: 0 0 0 2px rgba(20, 184, 165, 0.2);
        }

        &::placeholder {
            color: v.$gris_oscuro;
        }
    }

    @include m.telefono {
        label {
            font-size: 1.2rem; // Reducir aún más el tamaño de las etiquetas
        }

        .form-group {
            margin-bottom: 0.5rem; // Ajustar márgenes aún más
        }

        .email-header,
        .password-header {
            margin-bottom: 0.8rem; // Reducir el espacio entre los campos
        }

        .password-header {
            flex-direction: column; // Asegurar que todo esté en columna
            align-items: flex-start;

            a {
                font-size: 1.2rem; // Reducir aún más el tamaño del enlace
                margin-top: 0.5rem; // Espacio entre el enlace y el texto
            }
        }

        input {
            font-size: 1.2rem; // Reducir aún más el tamaño de los inputs
            padding: 0.7rem; // Reducir padding para pantallas pequeñas
        }
    }
}