@use 'base/variables' as v;
@use 'base/mixins' as m;

.reset-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: v.$blanco;

    .reset-card {
        width: 50rem;
        max-width: 95%;
        padding: 3rem;
        background-color: v.$grisMuyClaro;
        border: 1px solid v.$grisMuyClaro;
        box-shadow: 0 0 20px v.$grisMedio;
        border-radius: 1rem;

        .reset-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 0.5rem;

            h1 {
                font-size: 3rem;
                text-align: center;
            }

            .logo-card {
                width: 20rem;
            }

            .card-description {
                color: v.$grisMedio;
                margin: 1.5rem 0;
                line-height: 1.5rem;
                text-align: center;
            }
        }

        .reset-form {
            margin-bottom: 2rem;

            label {
                font-size: 1.5rem;
                display: block;
                font-weight: 500;
                color: v.$negro;
            }

            .form-group {
                margin-bottom: 1rem;
            }

            .password-header {
                margin-bottom: 1.5rem;
            }

            .password-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            input {
                width: 100%;
                padding: 1rem;
                border: 1px solid v.$grisClaro;
                border-radius: 1rem;
                font-size: 1.5rem;
                transition: border-color 0.2s, box-shadow 0.2s;

                &:focus {
                    outline: none;
                    border-color: v.$grisOscuro;
                }

                &::placeholder {
                    color: v.$grisMedio;
                }
            }

            @include m.telefono {
                label {
                    font-size: 1.2rem; // Reducir aún más el tamaño de las etiquetas
                }

                .form-group {
                    margin-bottom: 0.5rem; // Ajustar márgenes aún más
                }

                .password-header {
                    margin-bottom: 0.8rem; // Reducir el espacio entre los campos
                }

                input {
                    font-size: 1.2rem; // Reducir aún más el tamaño de los inputs
                    padding: 0.7rem; // Reducir padding para pantallas pequeñas
                }
            }
        }

        .reset-footer {
            .reset-link {
                text-align: center;

                a {
                    color: v.$grisOscuro;
                    font-weight: 700;
                }
            }
        }
    }

    @include m.telefono {
        .reset-card {
            padding: 1.5rem; // Reducir padding aún más para pantallas muy pequeñas

            .reset-header {
                h1 {
                    font-size: 2rem;
                }

                .logo-card {
                    width: 10rem; // Reducir aún más el tamaño del logo
                }

                .card-description {
                    font-size: 1rem;
                    margin: 0.5rem 0;
                }
            }

            .reset-footer {
                .reset-link {
                    font-size: 1rem;

                    a {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}